@import "../../styles/variables/variables.scss";

.downloand-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 312px;
  border: $mainBorder;
  border-radius: $borderRadius;

  img {
    margin-left: 24px;
  }

  .storeText {
    font-weight: bold;
  }

}
