@import "../../styles/variables/variables.scss";

.formBlock {
  display: flex;
  justify-content: center;
  background-color: $lightPinkColor;
  width: 544px;
  height: 797px;
  border: $mainBorder;
  border-radius: $borderRadius;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 416px;

  .title {
    font-family: $titleFont;
    font-size: $titleFontSize;
  }

  button {
    background-color: $lighBlueColor;
    color: $whiteColor;
    font-size: $reguralFontSize;
    height: 64px;
    border: $mainBorder;
    border-radius: $borderRadius;
  }

  .formConditions {
    color: $condintionTextColor;
    font-size: $conditionFontSize;
  }
}