@import "../../styles/variables/variables.scss";

.formBlock {
  display: flex;
  justify-content: center;
  background-color: $lightPinkColor;
  max-width: 544px;
  max-height: 797px;
  border: $mainBorder;
  border-radius: $borderRadius;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 64px;
  @include lg {
    padding: 32px;
  }

  .formFields {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    .title {
      font-family: $titleFont;
      font-size: $titleFontSize;
      @include lg {
        font-size: 32px;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  input { 
    color: $condintionTextColor;
    font-size: $reguralFontSize;
    height: 64px;
    border: $mainBorder;
    border-radius: $borderRadius;
    @include lg {
      height: 32px;
      font-size: $smallerFontSize;
      padding: 17px;
    }
  }

  button {
    background-color: $lighBlueColor;
    color: $whiteColor;
    font-size: $reguralFontSize;
    height: 64px;
    border: $mainBorder;
    border-radius: $borderRadius;
    @include lg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      font-size: $smallerFontSize;
      padding: 32px;
      margin-bottom: 30px;
    }
  }


  .formConditions {
    color: $condintionTextColor;
    font-size: $smallerFontSize;
  }
}