@import "../../styles/variables/variables.scss";

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  border: $mainBorder;
}

.navbar a {
  color: $blackNavColor;
  text-decoration: none;
  margin-left: 50px;

  &:hover{
    color: $lighBlueColor;
  }
}