@import "../../styles/variables/variables.scss";

.sharingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sharingBlockBg;
  color: $whiteColor;
  width: 100%;
  height: 164px;
  border: $mainBorder;

  .sharingConent {
    @include content();
    align-items: center;
  }

  .sharing {
    display: flex;
    gap: 16px;
  }
}