@import "../../styles/variables/variables.scss";

.sharingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sharingBlockBg;
  color: $whiteColor;
  padding: 32px;
  border: $mainBorder;

  .sharingConent {
    @include content();
    align-items: center;
    @include lg {
      @include mobile
    }
  }

  .sharing {
    display: flex;
    gap: 16px;
    @include lg {
      @include mobile
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}