@import "../../styles/variables/variables.scss";

.stepBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 448px;
  
  img {
    width: 128px;
  }
  
  .stepTextBlock {
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 16px;

    .stepNumber {
      color: $lighBlueColor;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .stepName {
      font-family: $titleFont;
      font-size: 32px;
    }
  }
}
