@import "../../styles/variables/variables.scss";

.stepBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  
  &:nth-child(2) {
    flex-direction: row-reverse;
    @include lg {
      @include mobile
    }
  }

  @include lg {
    @include mobile
  }
  
  img {
    width: 128px;
  }
  
  .stepTextBlock {
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 16px;
    @include lg {
      @include mobile
    }

    .stepNumber {
      color: $lighBlueColor;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .stepName {
      font-family: $titleFont;
      font-size: 32px;
    }
  }
}
