// Google Font
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

// Colors
$lighBlueColor: #4EB3E3;
$lightOrangeColor: #F8CC5D;
$blackColor: #1F343E;

// Fonts

$titleFont: 

