// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans:wght@100;200;300;400;500&display=swap');

// Colors
$lighBlueColor: #4EB3E3;
$lightOrangeColor: #F8CC5D;
$blackColor: #1F343E;
$blackNavColor: #434A54;
$whiteColor: #FFFFFF;
$lightPinkColor: #F8F4F9;
$condintionTextColor: #6D7A80;
$sharingBlockBg: #45565E;


// Fonts
$titleFont: 'Caveat Brush', cursive;
$mainFont: 'Noto Sans', sans-serif;

// Font Size
$reguralFontSize: 20px;
$titleFontSize: 48px;
$mobileFontSize: 32px;
$smallerFontSize: 16px;

// Borders
$mainBorder: 1px solid $blackColor;
$borderRadius: 16px;
$imageBorderRadius: 8px;

// Content Width
$contentWidth: 1120px;

//BreakPoints

$screen-lg-max: 1000px;


@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}
// Mixins 
@mixin content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $contentWidth;
}

@mixin mobile {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
