// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans:wght@100;200;300;400;500&display=swap');

// Colors
$lighBlueColor: #4EB3E3;
$lightOrangeColor: #F8CC5D;
$blackColor: #1F343E;
$red: #1F343E;
$blackNavColor: #434A54;
$whiteColor: #FFFFFF;
$lightPinkColor: #F8F4F9;


// Fonts
$titleFont: 'Caveat Brush', cursive;
$mainFont: 'Noto Sans', sans-serif;

// Font Size
$reguralFontSize: 20px;
$titleFontSize: 48px;

// Borders
$mainBorder: 1px solid $blackColor;
$borderRadius: 16px;